<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="footer">
<footer class="section footer-section">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-3 mb-5">
        <ul class="list-unstyled link">
          <li><a href="/notice/companyInfo">회사정보</a></li>
          <li><a href="/notice/privacyPolicy">개인정보보호정책</a></li>
          <span style="color: rgba(255, 255, 255, 0.7);">
	       			<b style="color:white;">대표자 </b> 서성찬<br>
	       			<b style="color:white;">설립자 </b> 서찬그룹<br>
					<b style="color:white;">사업자번호 </b> 507-85-07103<br>
					<b style="color:white;">직업정보제공사업</b> <br>
					신고번호 2007-경남창원합포-0001 <br>
				</span>
        </ul>
      </div>
      <div class="col-md-3 mb-5" >

      </div>
      <div class="col-md-3 mb-5 pr-md-5 contact-info">
        <!-- <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li> -->
        <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Address:</span> <span>경남 창원시 마산합포구 월영마을로12 104동 1504호</span></p>
        <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Phone:</span> <span>010-2134-9868</span></p>
        <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span> <span>sungchanseo@gmail.com</span></p>
      </div>
      <div class="col-md-3 mb-5">

        <ul class="list-unstyled link">
          <li><a href="/notice/noticeList">공지사항</a></li>
          <li><a href="/faq/faqList">자주묻는질문</a></li>
          <li><a href="/qna/qnaList">1:1문의</a></li>

        </ul>


      </div>

    </div>
</footer>
</body>
</html>