<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/main/header :: header">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>CODELESS - 공지사항 내용</title>
</head>
<body>
<!--네비게이숀-->
<div th:insert="/main/navy :: nav"></div>
<!--네비게이숀-->

<div class="row" style="margin-left: 100px;">
    <!-- 사이드바 -->
    <div th:insert="/main/noSide :: mySide"></div>
    <!-- 사이드바 -->

    <div class="col-md-8" style="margin-bottom:40px;">
        <div id="right" style="width: 80%">
            <h1 style="font-family: 'TheJamsil5Bold';">[[${content.title }]]</h1>
            <hr style="border: 0;height: 3px; background-color: black;">

            <table class="table" id="nttable" style="table-layout:fixed">
                <tr>
                    <td style="text-align:center;">NO. [[${content.noticeId }]]</td>
                    <td style="text-align:center;">작성일</td>
                    <td style="text-align:center;">[[${content.date }]]</td>
                    <td style="text-align:center;">조회수</td>
                    <td style="text-align:center;">[[${content.count }]]</td>
                </tr>
                <tr>
                    <td style="text-align:center;"><br>내용</td>
                    <td colspan="4" style="white-space:pre-line; word-break:break-all;">
                        [[${content.content }]]<br>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">이미지</td>
                    <td colspan="4" th:if="${not #strings.isEmpty(content.noticeImage)}">
                        <img th:src="@{/upload/${content.noticeImage}}" />
                    </td>
                    <td colspan="4" th:unless="${not #strings.isEmpty(content.noticeImage)}">
                        첨부된 이미지가 없습니다.
                    </td>
                </tr>
            </table>

            <div style= "float: right; margin-top: 80px;">

                    <a th:href="|/notice/modifyNotice?noticeId=${content.noticeId }|" class="btn btn-primary">게시글 수정</a>
                    <a th:href="|/notice/deleteNotice?noticeId=${content.noticeId }|" class="btn btn-primary">게시글 삭제</a>
                <a th:href="|/notice/noticeList|" class="btn btn-secondary">목록으로</a>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div th:insert="/main/footer :: footer"></div>
<!--footer-->
</body>
</html>