<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="main/header :: header">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!-- 우편api -->

  <script type="text/javascript">

    function addr() {
      new daum.Postcode({
        oncomplete : function(data) {
          document.getElementById("zipcode").value = data.zonecode; // 우편 번호 넣기
          document.getElementById("address").value = data.address; // 주소 넣기
        }
      }).open();
    }; //우편주소창부르기


    $(document).ready(function () {

      $('#email').keyup(function(){

        if(!$('#email').val().includes('@') && !$('#email').val() == ""){
          $('#emsg').css('color','red');
          $('#emsg').text("이메일 형식으로 입력해주세요.");
          $('#submit').attr('disabled','disabled');
          return;
        }//이메일형식으로 입력하지않을 시 제어
        $.ajax({
          url : "./AjaxEmail.aj",
          data: {"email": $('#email').val()},
          success:function(data){
            const result = $.trim(data);
            if(result=="yes" && !$('#email').val() == ""){

              $('#emsg').css('color','green');
              $('#emsg').text("사용가능한 이메일입니다.");
              $('#submit').removeAttr('disabled');
              return;
            }else if ( result=="no" && !$('#email').val() == ""){

              $('#emsg').css('color','red');
              $('#emsg').text("이미 존재하는 이메일입니다.");
              $('#submit').attr('disabled','disabled');
              return;
            }
          }//success
        });// ajax
        if($('#email').val() == ""){
          $('#emsg').css('color','red');
          $('#emsg').text("이메일을 입력해주세요.");
          $('#submit').attr('disabled','disabled');
          return;
        }
      }); // 이메일 중복확인

      $('#id').keyup(function(){

        /*  if(!$('#id').val().includes('@') && !$('#id').val() == ""){
             $('#idmsg').css('color','red');
             $('#idmsg').text("이메일 형식으로 입력해주세요.");
             $('#submit').attr('disabled','disabled');
             return;
         }//이메일형식으로 입력하지않을 시 제어 */
        $.ajax({
          url : "./AjaxAction.aj",
          data: {"id": $('#id').val()},
          success:function(data){
            const result = $.trim(data);
            if(result=="yes" && !$('#id').val() == ""){

              $('#idmsg').css('color','green');
              $('#idmsg').text("사용가능한 아이디입니다.");
              $('#submit').removeAttr('disabled');
              return;
            }else if ( result=="no" && !$('#id').val() == ""){

              $('#idmsg').css('color','red');
              $('#idmsg').text("이미 존재하는 아이디입니다.");
              $('#submit').attr('disabled','disabled');
              return;
            }
          }//success
        });// ajax
        if($('#id').val() == ""){
          $('#idmsg').css('color','red');
          $('#idmsg').text("아이디를 입력해주세요.");
          $('#submit').attr('disabled','disabled');
          return;
        }
      }); // 아이디중복확인

      $('#nickname').keyup(function(){
        $.ajax({
          url : "./AjaxNickAction.aj",
          data: {"nickname": $('#nickname').val()},
          success:function(data){
            const result = $.trim(data);
            if(result=="yes" && !$('#nickname').val() == ""){

              $('#nickmsg').css('color','green');
              $('#nickmsg').text("사용가능한 닉네임 입니다.");
              $('#submit').removeAttr('disabled');
              return;
            }else if ( result=="no" && !$('#nickname').val() == ""){

              $('#nickmsg').css('color','red');
              $('#nickmsg').text("이미 존재하는 닉네임 입니다.");
              $('#submit').attr('disabled','disabled');
              return;
            }
          }//success
        });// ajax
        if($('#nickname').val() == ""){
          $('#nickmsg').css('color','red');
          $('#nickmsg').text("닉네임을 입력해주세요.");
          $('#submit').attr('disabled','disabled');
          return;
        }
      }); // 닉네임중복확인


      $('#alert-success').hide();
      $('#alert-danger').hide();


      $('input').keyup(function() {
        var pas1 = $('#password').val();
        var pas2 = $('#password2').val();
        if(pas1!="" && pas2!=""){
          if(pas1 == pas2){
            $('#alert-success').show();
            $('#alert-danger').hide();
            $('#submit').removeAttr('disabled');
          }else{
            $('#alert-success').hide();
            $('#alert-danger').show();
            $('#submit').attr('disabled','disabled');
          }}

      });//비밀번호 일치불일치 체크


      $('#fr').submit(function() {
        if($('#id').val() == ""){
          alert('아이디를 입력하세요.');
          $('#id').focus();
          return false;
        }//아이디 입력 제어

        if($('#password').val() == ""){
          alert('비밀번호를 입력하세요.');
          $('#password').focus();
          return false;
        }//비밀번호 입력 제어

        if($('#password2').val() == ""){
          alert('확인 비밀번호를 입력하세요.');
          $('#password2').focus();
          return false;
        }//비밀번호확인 입력 제어

        if($('#name').val() == ""){
          alert('이름을 입력하세요.');
          $('#name').focus();
          return false;
        }//이름 입력 제어

        if($('#nickname').val() == ""){
          alert('닉네임을 입력하세요.');
          $('#nickname').focus();
          return false;
        }//닉네임 입력 제어

        if($('#phone_number').val() == ""){
          alert('연락처를 입력하세요.');
          $('#phone_number').focus();
          return false;
        }//연락처 입력 제어

        if($('#birth_date').val() == ""){
          alert('생년월일을 입력하세요.');
          $('#birth_date').focus();
          return false;
        }//생일 입력 제어

        if($('#address').val() == ""){
          alert('주소를 입력하세요.');
          $('#address').focus();
          return false;
        }//주소 입력 제어

        if($('#checkbox').is(':checked') == false){
          alert('약관에 동의해주세요.');
          $('#checkbox').focus();
          return false;
        }//약관동의 제어

        if($('#password').val() != $('#password2').val()){
          alert('확인 비밀번호가 다릅니다.');
          $('#password2').focus();
          return false;
        }
      });//정보 입력안하면 submit기능 제어 끝


    });//총function끝





  </script>
</head>
<body>
<div th:insert="main/navy :: nav"></div>


<div class="container" id="login-con"
     style="width: 800px; color: black;">


  <form action="./MemberJoinAction.me" id="fr" method="post" enctype="multipart/form-data">

    <div class="form-group" id="log-form" style="width: 400px;">
      <h2>
        <b>회원가입을 위해</b>
      </h2>
      <h2 style="margin-bottom: 50px;">
        <b>정보를 입력해주세요:)</b>
      </h2>

      아이디
      <c:if test="${empty param.id }">
        <input type="text" class="form-control" id="id"
               placeholder="아이디를 입력해주세요." name="id" maxlength="40">
      </c:if> <!-- 간편로그인이 아닌 경우 -->

      <c:if test="${!empty param.id }">
        <input type="text" class="form-control" id="id"
               value="${param.id }" name="id" readonly="readonly">
      </c:if> <!-- 간편로그인의 아이디(한번도 가입하지않은)인 경우 -->
      <span id="idmsg"></span>
      <br>
      비밀번호 <input type="password" class="form-control" id="password"
                  placeholder="비밀번호를 입력해주세요." name="password" maxlength="40">
      <br>

      비밀번호 확인 <input type="password" class="form-control"
                     placeholder="비밀번호를 한번 더 입력해주세요." id="password2" maxlength="40">
      <br>
      <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
      <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>

      이름 <input type="text" class="form-control" name="name" id="name" placeholder="이름을 입력해주세요." maxlength="20">
      <br>

      닉네임 <input type="text" class="form-control" name="nickname" id="nickname" placeholder="닉네임을 입력해주세요."maxlength="40">

      <span id="nickmsg"></span>
      <br>

      이메일 <input type="email" class="form-control" name="email" id="email" placeholder="이메일을 입력해주세요."maxlength="40">
      <span id="emsg"></span>
      <br>


      연락처 <input type="text" class="form-control"
                 name="phone_number" placeholder="010-0000-0000 형태로 입력해주세요." id="phone_number" maxlength="13">
      <br>

      생년월일 <input type="date" class="form-control"
                  name="birth_date" id="birth_date">
      <br>
      주소
      <table>
        <tr>
          <td><input type="text" name="post_number" id="zipcode" size="15" onclick="addr();">
            <input type="button" value="우편번호찾기" onclick="addr();"></td>
        </tr>
        <tr>
          <td><input type="text" name="address" id="address" size="45" onclick="addr();"maxlength="200"></td>
        <tr>
        <tr>
          <td><input type="text" name="address2" id="address2" size="45" placeholder="상세주소를 입력해주세요."maxlength="45"></td>
        <tr>
      </table>
      <br> 프로필사진 <br>
      <input type="file" name="user_image"maxlength="1000">
      <br><br>


      <label><input type="checkbox" data-toggle="modal"
                    data-target="#myModal" id="checkbox"><b>이용약관 개인정보 수집 및 정보이용에
        동의합니다.</b></label>


      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h3 class="modal-title">이용약관 동의</h3>
              <button type="button" class="close" data-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">

              <%@include file="joinAccept.jsp" %> <!-- 모달창 내용 삽입 -->

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">확인하였습니다.</button>
            </div>

          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block"
              style="margin-top: 40px;" id="submit">회원가입</button><hr>


    </div>
  </form>
</div>
<!-- 로그인 컨테이너박스 끝 -->
<!--footer -->
<div th:insert="main/footer :: footer"></div>
<!--footer-->
</body>
</html>